# Bolt specific stuff. Don't put config files, databases or 'vendor' in Git.
extensions/*
.github/
app/*
wwwroot/files/*
wwwroot/extensions/*
wwwroot/thumbs/
wwwroot/info.php

# Unless you want to store vendor's "state" in your Git repo.
composer.phar
composer.lock

# Files related to testing
tests/*

# Grunt stuff
node_modules
bower_components
npm-debug.log
.sass-cache
*.map

# File-system cruft and temporary files
scrutinizer.phar
php-cs-fixer.phar
.DS_Store
.idea
__*
._*
web
Vagrantfile
.vagrant*
*.sublime-*
/tags
.*.swp
.swp
*.lock
.gitignore
.buildpath
.project
/bolt.log
coverage.xml
pimple.json
dump.php
