.cts-logo-block {
	fill: currentColor;
	width: rem-calc(303);
	height: rem-calc(98);

	@include breakpoint(medium only) {
		width: rem-calc(200);
		height: rem-calc(65);
	}

	@include breakpoint(small only) {
		width: rem-calc(200);
		height: rem-calc(65);
	}

}

.nav-menu {

	@include breakpoint(small only) {
		flex-wrap: wrap;
		// border-bottom: solid 1px $primary-color;
		// margin-bottom: rem-calc(30);
	}

	li {

		@include breakpoint(small only) {
			margin: 0 auto;
		}

		&:last-child {

			@include small-portrait {
				margin-bottom: 1rem;
			}

		}

	}

}

.listing-header {
	background:
		linear-gradient(180deg, rgba(0, 0, 0, .08) 0, transparent 20%),
		linear-gradient(180deg, transparent 80%, rgba(0, 0, 0, .08)),
		linear-gradient(90deg, transparent 98%, rgba(0, 0, 0, .08)),
		linear-gradient(90deg, rgba(0, 0, 0, .08) 0, transparent 2%);
	box-shadow: 0 0 10px hsla(0, 0%, 4%, .5);
}

.top-bar-title {

	@include breakpoint(small only) {
		margin: 1rem auto;
	}

}

.sections {
	min-height: 50vh;
	padding: rem-calc(60 0);
	color: $white;
}

.first-section {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	background-size: cover;
	background-position: center center;
	background-color: $primary-color;
	position: relative;
	z-index: 0;
	padding: 0;

	&::before {
		content: '';
		background-color: rgba($black, 0.5);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
	}

	.nav-menu {

		@include breakpoint(small only) {
			border-bottom: solid 1px $white;
			margin-bottom: rem-calc(30);
		}

	}

	.menu-text {

		@include breakpoint(small only) {
			margin: 0 auto;
		}

	}

	.link {
		border-bottom: 1px solid rgba(255, 255, 255, .0);
		transition: all 0.30s ease-in-out;

		&:hover,
		&:focus {
			// animation: borderslide .5s;
			border-bottom: 2px solid rgba(255, 255, 255, 1);
			padding: ($menu-item-padding / 1.5);
		}

	}

	a {

		color: $white;

		&:hover,
		&:focus {
			color: lighten(get-color(primary), 40%);

		}

	}

	.button {
		margin-top: rem-calc(30);
		background-color: $white;
		color: $primary-color;
		text-transform: uppercase;
		position: relative;
		transition: all 0.30s ease-in-out;
		top: 0;

		&:hover,
		&:focus {
			top: -3px;
			background-color: $light-gray;
			box-shadow: 0 4px 6px rgba($black, .2), 0 1px 3px rgba($black, .2);
		}

	}

	.navigation {
		align-self: flex-start;
		width: 100%;
		flex-grow: 1;
	}

	.hero-text {
		text-align: center;
		flex-grow: 2;

		// .title {
		// 	font-size: rem-calc()
		// }

	}

}

@keyframes borderslide {

	0% {
		padding-bottom: -4px;
	}

	50% {
		padding-bottom: 6px;
	}

}

// .second-section,
// .third-section {
// 	justify-content: center;
// 	align-items: center;
// }

.second-section {
	background:
		linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 2%),
		linear-gradient(to top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 2%),
		linear-gradient(to right, rgba(0,0,0,0) 85%, rgba(0,0,0,0.2) 100%),
		linear-gradient(to right, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 15%),
		url(../img/grain.png) repeat,
		url(../img/banner-waves.png) no-repeat center top,
		$primary-color;
	background-size: auto, auto, auto, auto, auto, cover, auto;

	.body-text {
		text-align: right;

		@include breakpoint(small only) {
			text-align: left;
		}

	}

}

.third-section {
	background-image: url('../img/chemicals.jpg');
	background-size: cover;
	background-position: center center;
	background-color: $primary-color;
	position: relative;
	z-index: 0;

	&::before {
		content: '';
		background: linear-gradient(135deg, rgba($black, 0.65) 0%, rgba($black, 0) 100%);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
	}

}

.fourth-section {
	background:
		linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 2%),
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23e6e6e6 ' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
	color: $dark-gray;

	.border {
		border-right: $medium-gray solid 2px;

		@include breakpoint(small only) {
			border-right: 0;
			border-bottom: $medium-gray solid 2px;
			margin-bottom: rem-calc(30);
		}

	}

	.inner-container-left {
		padding-right: rem-calc(30);

		@include breakpoint(small only) {
			padding-right: 0;
			padding-bottom: rem-calc(30);
		}

	}

	.inner-container-right {
		padding-left: rem-calc(30);

		@include breakpoint(small only) {
			padding: 0;
		}

	}

	h2 {
		margin-top: rem-calc(30);
		// color: $primary-color;
	}

}

.panel-icons {
	font-size: rem-calc(30);
	color: $white;
	border-radius: 50%;
	background-color: $primary-color;
	padding: rem-calc(6 16 16);
}

// .main-header {
// 	background:
// 		linear-gradient(to bottom, rgba(0,0,0,0.08) 0%,rgba(0,0,0,0) 20%),
// 		linear-gradient(to bottom, rgba(0,0,0,0) 80%,rgba(0,0,0,0.08) 100%),
// 		linear-gradient(to right, rgba(0,0,0,0) 98%,rgba(0,0,0,0.08) 100%),
// 		linear-gradient(to right, rgba(0,0,0,0.08) 0%,rgba(0,0,0,0) 2%);
// 	// padding-top: rem-calc(15);
// 	// padding-bottom: rem-calc(15);
// 	.top-bar {
// 		position: relative;
// 	}

// 	.menu-text {
// 		padding: 0;
// 	}

// 	.cts-logo-block {
// 		width: rem-calc(303);
// 		height: rem-calc(98);
// 		margin: rem-calc(16 0);
// 		display: inline-block;

// 		@include breakpoint(medium down) {
// 			width: rem-calc(223);
// 			height: rem-calc(71);
// 		}

// 	}

// 	.top-bar-right {
// 		margin-bottom: rem-calc(30);

// 		@include breakpoint(medium up) {
// 			@include vertical-center;
// 			right: 0;
// 		}

// 		.space {
// 			padding: $menu-item-padding;
// 		}

// 	}

// }

// .banner-area {
// 	background:
// 		linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 5%),
// 		linear-gradient(to right, rgba(0,0,0,0) 85%,rgba(0,0,0,0.4) 100%),
// 		linear-gradient(to right, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 15%),
// 		url(../img/grain.png) repeat,
// 		url(../img/banner-waves.png) no-repeat center bottom,
// 		$primary-color;
// 	padding-top: rem-calc(20);
// 	padding-bottom: rem-calc(20);
// 	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);

// 	h2 {
// 		color: $white;
// 	}

// 	p {
// 		color: rgba($white, 0.8);
// 	}

// }

.contact-section {
	background: url(../img/grain.png) repeat;
	border-top: $dark-gray solid 5px;
	border-bottom: $dark-gray solid 5px;

	.button,
	#contact_submit {
		text-transform: uppercase;
	}

	#contact_submit {
		@extend .button, .expanded;
	}

}

.g-recaptcha {

	@include small-portrait {
		transform: scale(0.77);
		transform-origin: 0 0;

		> div {
			width: rem-calc(100)!important;
		}

	}

}

// .callout {
// 	box-shadow: 0 0 10px rgba($black, 0.5);
// }

// .panel {
// 	border-top: #888 solid 5px;
// 	padding: rem-calc(60 0);
// 	color: #666;
// 	@extend .text-center;

// 	.panel-icons {
// 		font-size: rem-calc(60);
// 		color: $white;
// 		border-radius: 50%;
// 		background-color: #666;
// 		padding: rem-calc(4 15 16);
// 	}

// 	h3 {
// 		margin-top: rem-calc(20);
// 	}

// 	p {
// 		text-align: left;

// 		@include breakpoint(small only) {
// 			margin-bottom: rem-calc(30);
// 		}

// 	}

// }

.contact {

	svg.icon {
		background: #666;
		padding: rem-calc(5);
		font-size: rem-calc(25);
		color: $white;
		border-radius: 50%;
	}

}

.vcard {
	display: inline-block;
	margin: rem-calc(10 0 20 0);
	border: 1px solid $medium-gray;
	padding: rem-calc(10 12);
	width: 100%;

	li {
		margin: 0;
		padding: rem-calc(5 0);
		display: block;
	}

	.fn {
		font-weight: $global-weight-bold;
		font-size: 1rem;
	}

}

.success,
.error {
	padding: 1em;
	margin-bottom: rem-calc(10);
 	text-shadow: 0 1px 0 rgba($white, 0.5);
}

.success {
  color: $success-color;
  background-color: rgba($success-color, 0.2);
  border: 1px solid rgba($success-color, 0.4);
}

.error {
  color: $alert-color;
  background-color: rgba($alert-color, 0.2);
  border: 1px solid rgba($alert-color, 0.4);
}

.form-required {
	color: $alert-color;
}

.listing-index {
	background: url(../img/grain.png) repeat;
	padding: rem-calc(60 0);
	border-bottom: $dark-gray solid 5px;
	// min-height: calc(100vh-118px);
}

.footer-top {
	background:
		linear-gradient(to right, rgba(0,0,0,0) 85%,rgba(0,0,0,0.4) 100%),
		linear-gradient(to right, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 15%),
		url(../img/grain.png) repeat,
		url(../img/banner-waves.png) no-repeat center top,
		$primary-color;
	height: rem-calc(40);
	padding: rem-calc(10 0);
	background-color: $primary-color;
}

.copyright {
	background:
		linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 20%),
		linear-gradient(to right, rgba(0,0,0,0) 85%,rgba(0,0,0,0.4) 100%),
		linear-gradient(to right, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 15%);
	background-color: #333;
	padding: rem-calc(20 0);
	color: $medium-gray;
	// font-size: rem-calc(12);

	.menu {

		@include breakpoint(small only) {
			flex-wrap: wrap;
		}

	}

	.no-link {
		padding: $menu-item-padding;
	}

	a {
		color: $white;

		&:hover {
			color: $medium-gray;
		}

	}

}