a,
a:link,
a h1,
a h2,
a h3,
a h4,
a h5,
select {
	transition: all 0.25s;
	outline: none;
}

input,
optgroup,
select,
textarea,
button {
	// font-family: $body-font-family;
	// font-synthesis: none;

	&:focus {
		outline: none;
	}

}

::selection {
	background: $primary-color;
	color: $white;
}

// figure {
// 	margin: 0;
// }

iframe {
	border: 0;
}

p {

	&:last-child {
		margin-bottom: 0;
	}

}

table {
	border-collapse: separate;
}

address {
	font-style: normal;
	margin-bottom: $paragraph-margin-bottom;
}

.visual-hide {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

svg {
	vertical-align: middle;
}

.responsive-svg-container {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.responsive-svg {
	max-width: 100%;
	max-height: 100%;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.reveal {
	outline: none;
}